// Mixin Gradient

background-dim($secondary, $strength = 10%)
  background linear-gradient(0deg, rgba($secondary, $strength), rgba($secondary, $strength)), @background

//
// Takes one color and outputs a vertical gradient between the offset by 10% in
// either direction, offset precentage customizable via `strength` param. Or
// takes two colors and outputs a vertical gradient that fades between the two
// colors.
//
// ex. gradient red blue
// ex. gradient red

gradient($color1, $color2 = false, $strength = 10%)
  // shift args if one color mode
  if (typeof($color2) is 'unit')
    $strength = $color2
    $color2 = false
  if $color2
    $start = $color1
    $end = $color2
  else
    $start = lighten($color1, $strength)
    $end = darken($color1, $strength)
  background $start
  background $end linear-gradient(180deg, $start, $end) repeat-x

// Mixin Image Gradient
//
// Exactly the same as the gradient mixin, but overlays an image to give it
// more texture.
//
// ex. image-gradient red pattern.png
// ex. image-gradient red pattern.png 30%
// ex. image-gradient red blue pattern.png

image-gradient($color1, $color2, $image-path = 'noise.png', $strength = 10%)
  // shift args if one color mode
  if (typeof($color2) == 'string')
    if (typeof($image-path) == 'unit')
      $strength = $image-path
    $image-path = $color2
    $color2 = false
  if $color2
    $start = $color1
    $end = $color2
  else
    $start = lighten($color1, $strength)
    $end = darken($color1, $strength)
  background $start
  background url($img-path $image-path) repeat, $end linear-gradient(180deg, $start, $end) repeat-x
