// --
// UI
// --

size()
  if length(arguments) == 1
    width arguments[0]
    height arguments[0]
  else
    width arguments[0]
    height arguments[1]

// Center block
center-block()
  display block
  margin-right auto
  margin-left auto

text-truncate()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

aspect-ratio($width, $height)
  position relative
  &:before
    content ' '
    display block
    width 100%
    padding-top ($height / $width * 100%)
  > .content
    position absolute
    top 0
    right 0
    bottom 0
    left 0

custom-scrollbar($color)
  &::-webkit-scrollbar-track
    background-color transparent
  &::-webkit-scrollbar
    width 3px
    background-color transparent
  &::-webkit-scrollbar-thumb
    border-radius 20px
    background-color $color

media-print()
  @media print
    {block}

button($background-color, $border-color)
  border-color $border-color
  color $border-color
  background $background-color
  transition all 0.2s ease-in

  &:hover
    background lighten($background-color, 20)

  &_inverted
    button $border-color $background-color
